body, html {
    margin: 0;
    padding: 0;
    font-family: 'gmarketSans';
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #f5f5f5;
}

.chat-icon {
    margin-right: 10px;
}

.chat-icon i {
    font-size: 24px;
    color: #ff0000;
}

.chat-details {
    display: flex;
    flex-direction: column;
}

.chat-title {
    font-weight: bold;
    margin: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* 전체 대화창 */
main {
    display: flex;
    width: 100%;
}

.main-left {
    width: 30%;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.main-right {
    width: 70%;
    display: flex;
    align-items: center;
  }