@charset "UTF-8";

@font-face {
	
	font-family : 'jungnajoche';
	src : url('../font/중나좋체-MEDIUM.woff') format('woff');
	font-weight : normal;
	font-style : normal;
	
}

@font-face {
	
	font-family : 'gmarketSans';
	src : url('../font/GMARKETSANSTTFMEDIUM_1.woff') format('woff');
	src : url('../font/GMARKETSANSTTFBOLD_1.woff') format('woff');
	font-weight : normal, bold;
	font-style : normal;	
	
}