@charset "UTF-8";

/*
main color : #ffff95
 */
 
 body {
 
 	margin : 0;
 	padding : 0;
 	font-family: 'gmarketSans';
 
 }

main {
	
	margin : 0;
	padding : 0;
	width : 100%;
	
}

.section input[id *= "banner"] {display : none;}
.bannerBox {
	
    margin: 200px auto;
    max-width: 1500px;
    height: 400px;
    overflow: hidden;
    white-space : nowrap;
    
}
ul.banner {
	
	width : 1500px;
	font-size : 0;
	animation : slide 12s infinite step-end;
	
}
.banner > li {
	
	display : inline-block;
	vertical-align : middle;
	list-style : none;
	width : 100%;
	transition : all .5s;
	
}
.banner > li > a {
	
	display : block;
	position : relative;
	
}
.banner > li > a img {
	
	width : 100%;
	height : 400px;
	
}
.banner label {
	
	position : absolute;
	z-index : 10;
	top : 50%;
	transform : translateY(-50%);
	padding : 50px;
	cursor : pointer;
	
}

@keyframes slide {
	
	0% {margin-left : -2%;}
	33% {margin-left : -102.8%;}
	66% {margin-left : -203%;}
	100% {margin-left : 0%;}
	
}

a {
	
    text-decoration : none;
    outline : none;
    
}

.mainMenu {
	
	width : 1500px;
	margin : 0 auto;
	padding : 0;
	
}

.listBox {
	
	position : relative;
	width : 100%;
	margin : 0 auto;
	
}
.listBox p {
	
	margin-bottom : 40px;
	text-align : center;
	font-size : 36px;
	font-weight : bold;
	
}
.listBox #categories {
	
	position : absolute;
	right : 50px;
    top : 20px;
    padding : 10px;
	
}
.button {
	
	color : black;
	background : white;
	box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width : 150px;
	transition : all 0.5s;
	cursor : pointer;
	border : 0;
	
}
.button span {
	
  	cursor : pointer;
  	display : inline-block;
  	position : relative;
  	transition : 0.5s;
  	font-size : 20px;
  	font-weight : bold;
  	
}
.button span::after {
	
  	content : '\00bb';
  	position : absolute;
  	opacity : 0;
  	top : -5px;
  	right : -20px;
  	transition : 0.5s;
  	font-size : 30px;
  	
}
.button:hover span {padding-right : 25px;}
.button:hover span::after {
	
  	opacity : 1;
  	right : 0;
  	
}

.mainList {
	
	list-style-type : none;
	margin : 10px auto 0;
	padding : 0;
	/* display : flex;
	flex-wrap : wrap; */
	display : grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px;  */
  	grid-template-columns : repeat(4, 1fr);
    gap : 10px;
    width : 1400px;
    
}
.mainList li {
	
	position : relative;
	font-size : 24px;
	margin : 0;
	text-align : center;
	color : white;
	box-sizing : border-box;
	overflow : hidden;
	
}
.mainList li a {
	
	display : block;
	padding : 120px 0;
	opacity : 0;
	
}
.mainList li::before {
	
	content : '';
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background-size : cover;
	background-position : center;
	z-index : -1;
	
}
.mainList li:hover {
	
	transition : all 0.4s;
	background : #777;
	
}
.mainList li a:hover {
	
	opacity : 1;
	transition : all 0.4s;
	
}
#digi::before {background-image : url('../image/digital.jpg');}
#furni::before {background-image : url('../image/furniture.jpg');}
#clothing::before {background-image : url('../image/clothing.jpg');}
#appliance::before {background-image : url('../image/appliance.jpg');}
#kitchen::before {background-image : url('../image/kitchenware.jpg');}
#leisure::before {background-image : url('../image/leisure.jpg');}
#beauty::before {background-image : url('../image/beauty.jpg');}
#etc::before {background-image : url('../image/etc.jpg');}

footer {
	
	width : 100%;
	margin : 180px auto 0;
	padding-top : 10px;
	padding-bottom : 10px;
	font-size : 14px;
	background : #eee;
	
}
footer hr {
	
	width : 100%;
	border : 1px solid white;
	
}
.footerInner {
	
	width : 98%;
	margin-left : 2%;
	
}
.footerInner #fiUp {
	
	list-style : none;
	padding : 0;
	
}
.footerInner #fiUp li a {
	
	text-decoration : none;
	color : #999;
	
}
#fiUp li span {
	
	font-weight : bold;
	color : black;
	
}
.footerInner #fiUp li {display : inline-block;}
.firstInner p, .secondInner p {color : #aaa;}
.firstInner #footerInfo {
	
	width : 85%;
	float : left;
	
}
.firstInner #hash {
	
	width : 15%;
	float : right;
	
}
.firstInner ul li {display : inline-block;}
.firstInner #hash img {
	
	width : 16px;
	height : 16px;
	
}