@charset "UTF-8";

/*
main color : #ffff95
 */
 
 body {
 
 	margin : 0;
 	padding : 0;
 
 }

main {
	
	margin : 0;
	padding : 0;
	width : 100%;
	height : 1000px;
	
}

.section input[id *= "banner"] {display : none;}
.bannerBox {
	
	margin : 200px auto;
	max-width : 1500px;
	height : 400px;
	white-space : nowrap;
	overflow : hidden;
	
}
ul.banner {
	
	white-space : nowrap;
	font-size : 0;
	
}
.banner > li {
	
	display : inline-block;
	vertical-align : middle;
	list-style : none;
	width : 100%;
	transition : all .5s;
	
}
.banner > li > a {
	
	display : block;
	position : relative;
	
}
.banner > li > a img {
	
	width : 100%;
	height : 400px;
	
}
.banner label {
	
	position : absolute;
	z-index : 10;
	top : 50%;
	transform : translateY(-50%);
	padding : 50px;
	cursor : pointer;
	
}
.banner .left {
	
	left : 30px;
	background : url('/image/left.png') center center / 100% no-repeat;
	
}
.banner .right {
	
	right : 30px;
	background : url('/image/right.png') center center / 100% no-repeat;
	
}

a {
	
    text-decoration : none;
    outline : none;
    
}

.mainMenu {
	
	width : 1500px;
	margin : 0 auto;
	padding : 0;
	
}

.listBox {
	
	width : 1300px;
	margin : 0 auto;
	
}

.mainList {
	
	list-style-type : none;
	margin : 0;
	padding : 0;
	/* display : flex;
	flex-wrap : wrap; */
	display : grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px;  */
  	grid-template-columns : repeat(4, 1fr);
    gap : 10px;
    width : 1400px;
    
}
.mainList li {
	
	font-size : 20px;
	margin : 0;
	text-align : center;
	background : #eee;
	
}
.mainList li:hover {background : #bbb;}
.mainList li a {
	
	display : block;
	padding : 50px 0;
	
}

footer {
	
	width : 100%;
	margin : 180px auto 0;
	padding-top : 10px;
	padding-bottom : 10px;
	font-size : 14px;
	background : #eee;
	
}
footer hr {
	
	width : 100%;
	border : 1px solid white;
	
}
.footerInner {
	
	width : 98%;
	margin-left : 2%;
	
}
.footerInner #fiUp {
	
	list-style : none;
	padding : 0;
	
}
.footerInner #fiUp li a {
	
	text-decoration : none;
	color : #999;
	
}
#fiUp li span {
	
	font-weight : bold;
	color : black;
	
}
.footerInner #fiUp li {display : inline-block;}
.firstInner p, .secondInner p {color : #aaa;}
.firstInner #footerInfo {
	
	width : 85%;
	float : left;
	
}
.firstInner #hash {
	
	width : 15%;
	float : right;
	
}
.firstInner ul li {display : inline-block;}
.firstInner #hash img {
	
	width : 16px;
	height : 16px;
	
}