@charset "UTF-8";


/* 
main color : #ffff95, yellow
sub color : #999 
 */

.content {
	height : 1000px;
	width : 2000px; 
	overflow-y : auto;
	margin : 0 auto;
}



a {
    text-decoration: none;
    outline: none;
}



.body {
	width : 1200px;
	height : 500px;
}


